.app-title {
    padding-left: 20px;
}

.current-user {
    float:right;
    padding-top: 15px;
    padding-right: 20px;
}

.main-panel {
    padding-top: 10px;
}

.dashboard-table {
    padding-top: 10px;
    padding-bottom: 10px;
}

#alteration-details {
    border: lightgray thin solid;
    padding: 8px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.request-date {
    padding-bottom: 4px;
    padding-top: 4px;
}

.nav-list label {
    color: #808080;
}